*{
  box-sizing: border-box;
}

body{
  background-color: rgb(226, 150, 43);
  color: #fff;
}


.container{
  margin-top: 10rem;
  margin-left: 25rem;
  
}

.container h1{
  margin-left: 12rem;
}

.listitems {
 background-color: #fff;
 color: rgb(226, 150, 43);
 width: 500px;
 

}

.listitems span{
  display: inline-block;
  padding: 10px 0;
  font-size: 20px;
 
  
 }


 .listitems p{
  margin: 0;
  text-align: center;
  padding: 10px 0;
 }

 

#headtitle{
  background: rgb(67, 226, 43);
  color: #fff;
}
#name{
  width: 220px;
  padding: 10px;
}

#age{
  width: 220px;
  padding: 10px;
}

#click{
  padding: 10px;
  width: 60px;
  background: aqua;
  border: #fff solid 1px;
  border-radius: 5px;
}

.action{
 float: right ;
 border-left: 1px solid aqua;
}

.age{
  margin-left: 14.5rem;
  border-left: 1px solid aqua;
}

.icon{
  float: right;
  width: 60px;
  text-align: center;
  border-left: 1px solid aqua;
}

#agedata{
  margin-left: 12rem;
  border-left: 1px solid aqua;
}

.champs{
  border: 1px solid aqua;
 
}

.form{
  display: inline-block;
  
}